apiVersion: v1
kind: Service
metadata:
    name: {{ es_service_name }}
    namespace: {{ es_namespace }}
    labels:
        app: elasticsearch
spec:
    selector:
        app: elasticsearch
    ports:
        - name: http
          port: {{ es_port_http }}
          targetPort: {{ es_port_http }}
        
        # Transport port for inter-node communication
        - name: transport
          port: {{ es_port_transport }}                                                                                                                                                                                                                                                                         
          targetPort: {{ es_port_transport }}
    clusterIP: None