apiVersion: apps/v1
kind: DaemonSet
metadata:
  name: filebeat-daemonset
  namespace: {{ es_namespace }}
  labels:
    k8s-app: filebeat
spec:
    selector:
        matchLabels:
            k8s-app: filebeat
    template:
        metadata:
            labels:
                k8s-app: filebeat
        spec:
            serviceAccountName: filebeat-service-account
            terminationGracePeriodSeconds: 30
            hostNetwork: true
            dnsPolicy: ClusterFirstWithHostNet

            containers:
            - name: filebeat
              image: docker.elastic.co/beats/filebeat:7.17.16
              args: [ "-c", "/etc/filebeat.yml", "-e" ]
              env:
                - name: NODE_NAME  
                  valueFrom:
                    fieldRef:
                      fieldPath: spec.nodeName
              securityContext:
                runAsUser: 0
              volumeMounts:
                - name: config
                  mountPath: /etc/filebeat.yml
                  subPath: filebeat.yml
                - name: varlogcontainers
                  mountPath: /var/log/containers
                - name: varlogpods 
                  mountPath: /var/log/pods
                  readOnly: true
                - name: varlibdockercontainers        # <-- NEW
                  mountPath: /var/lib/docker/containers
                  readOnly: true

            volumes:
                - name: config
                  configMap:
                    name: filebeat-config
                
                - name: varlogcontainers
                  hostPath:
                    path: /var/log/containers
                    type: DirectoryOrCreate

                - name: varlogpods  
                  hostPath:
                    path: /var/log/pods
                    type: DirectoryOrCreate

                - name: varlibdockercontainers         # <-- NEW
                  hostPath:
                    path: /var/lib/docker/containers
                    type: DirectoryOrCreate
