apiVersion: v1
kind: ServiceAccount
metadata:
  name: filebeat-service-account
  namespace: {{ es_namespace }}
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
    name: filebeat-cluster-role
rules:
    - apiGroups: [""]
      resources: ["pods", "namespaces", "nodes"]
      verbs: ["get", "list", "watch"]
    
    - apiGroups: ["apps"]
      resources: ["replicasets", "statefulsets", "deployments"]
      verbs: ["get", "list", "watch"]

---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
    name: filebeat-cluster-role-binding
subjects:
    - kind: ServiceAccount
      name: filebeat-service-account
      namespace: {{ es_namespace }}
roleRef:
    kind: ClusterRole
    name: filebeat-cluster-role
    apiGroup: rbac.authorization.k8s.io