apiVersion: v1
kind: Service
metadata:
  name: {{ kibana_service_name }}
  namespace: {{ es_namespace }}
  labels:
    app: kibana
spec:
  selector:
    app: kibana
  ports:
    - port: {{ kibana_port }}
      targetPort: {{ kibana_port }}