apiVersion: v1
kind: Service
metadata:
  name: logstash-service
  namespace: {{ es_namespace }}
  labels:
    k8s-app: logstash
spec:
  ports:
  - port: 5044
    name: filebeat
    targetPort: 5044
  selector:
    k8s-app: logstash