---
- name: Setting Backend Server
  hosts: local
  become: no

  vars:
    deployment_name: "backend-deployment"
    app_namespace: "portfolio-backend-namespace"
    app_name: "portfolio-backend"
    image_name: "sohith18/portfolio-builder-backend:latest"
    container_port: 8000

    ingress_name: "backend-ingress"
    ingress_host: "portfolio-builder.com"
    path: "/api"

  tasks:
    - name: Include Common Role
      include_role:
        name: common

    - name: Include Ingress Role
      include_role:
        name: ingress