---

- name: Install kubectl if not present
  snap:
    name: kubectl
    state: present
    classic: yes

- name: Check if Minikube is installed
  stat:
    path: /usr/local/bin/minikube
  register: minikube_stat


- name: Install Minikube if not present
  command: |
    curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
    chmod +x minikube
    sudo mv minikube /usr/local/bin/
  when: not minikube_stat.stat.exists

- name: Check Minikube status
  ansible.builtin.command: minikube status
  register: minikube_status
  failed_when: false  # Don't stop if it returns an error code
  changed_when: false

- name: Start Minikube if not running
  ansible.builtin.command: minikube start
  # Now this works because minikube_status is actually defined above
  when: minikube_status.rc != 0